@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-fira-code: 'Fira Code', monospace;
}

html, body, #root {
  height: 100%;
  background-color: black;
}